---
layout: default
published: true
---

<ul>
{% for post in paginator.posts %}
  {% if post.published %}
  <li><a href="{{post.url}}">{{ post.title }}</a>
    <span class="badge badge-success">
      Posted {{ post.date | date: "%Y-%m-%d" }}
    </span>
  </li>
  {% endif %}
  
{% endfor %}
</ul>

<!-- Pagination links -->
<div id="post-pagination" class="pagination">

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a class="previous_page" href="/">← Previous</a>
    {% else %}
      <a class="previous_page" href="/page{{paginator.previous_page}}">← Previous</a>
    {% endif %}
  {% else %}
    <span class="previous_page disabled">← Previous</span>
  {% endif %}

  {% if paginator.page == 1 %}
    <em>1</em>
  {% else %}
    <a href="/">1</a>
  {% endif %}

  {% for count in (2..paginator.total_pages) %}
    {% if count == paginator.page %}
      <em>{{count}}</em>
    {% else %}
      <a href="/page{{count}}">{{count}}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="next_page" href="/page{{paginator.next_page}}">Next →</a>
  {% else %}
    <span class="next_page disabled">
      Next →
    </span>
  {% endif %}

</div>
