---
const currentYear = new Date().getFullYear();
---

<footer class="border-t border-gray-200 dark:border-gray-700 mt-auto">
    <div class="container mx-auto px-4 py-8">
        <div class="flex justify-between items-center">
            <p class="text-gray-600 dark:text-gray-300">
                © {currentYear} Vanya Yani. All rights reserved.
            </p>

            <div class="flex gap-4">
                <a
                    href="https://github.com/Vanuan"
                    class="text-gray-600 hover:text-black dark:text-gray-300 dark:hover:text-white"
                >
                    GitHub
                </a>
                <a
                    href="http://www.linkedin.com/in/vanuan"
                    class="text-gray-600 hover:text-black dark:text-gray-300 dark:hover:text-white"
                >
                    LinkedIn
                </a>
                <a
                    href="https://www.threads.net/@vanya.yani/"
                    class="text-gray-600 hover:text-black dark:text-gray-300 dark:hover:text-white"
                >
                    Threads
                </a>
            </div>
        </div>
    </div>
</footer>
