<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
  <title>
    {% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}
  </title>
  <script type="text/javascript" src="http://gviz.oodavid.com/gviz.js"></script>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <style>
     body {
       padding-top: 30px; /* 60px to make the container go all the way to the bottom of the topbar */
     }
     .fixed-top-left {
       padding-top: 30px;
       top:0;
       position:fixed;
     }
  </style>
  
  <!--link rel="stylesheet" type="text/css" href="/stylesheets/my.css" media="screen" /-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18508692-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="span2 fixed-top-left">
        <a class="brand" href="{{site.url}}">{{site.title}}</a>
        <span class="slogan">Sufficiently incompetent coders can write FORTRAN in any language. Sufficiently talented coders can write great applications in terrible languages</span>
      </div>
    </div>
    <div class="span6">

      {% if page.title %}
      <h1>{{ page.title }}</h1>
      {% endif %}
      
      {{ content }}

      <span class="badge">
          {{ page.date | date: "%Y-%m-%d" }}
      </span>
      
    </div>
  </div>
</div>
  
  

</body>
</html>
